@import 'tailwindcss';

@theme {
	--color-primary: #cc3850;
	--color-primary-pale: #e1939b;
	--color-primary-paler: #eeb8bd;
	--color-primary-palest: #fcdcdf;

	--color-secondary: #017b7c;
	--color-secondary-pale: #8bc8c8;

	--color-tertiary: #dbb805;
	--color-tertiary-pale: #e9d391;

	--color-white: #e6e6e6;
	--color-black: #333333;
	--color-black-reverse: #e7dcde;
}

html {
	background-color: var(--color-white);
	border-color: var(--color-black);
}

nav {
	background-color: var(--color-black);
	color: var(--color-black-reverse);
	padding: 12px 20px;
	font-size: 1.5rem;
}

h1 {
	color: var(--color-primary);
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.3rem;

	b {
		color: var(--color-primary);
		padding-right: 8px;
	}
}

hr {
	margin-top: 16px;
	margin-bottom: 16px;
}

.interactive-table-row {
	&:hover {
		> div {
			box-shadow: 0 4px 8px -2px gray;
		}
	}
}
